 
$marginImgSm: 10px 0;
$FondoUno: #7CB342;
@mixin photosUno {
	max-width: 100%;
	height: 300px;
}

@mixin photosDos {
	max-width: 100%;
	height: auto;
}

header {
	padding-left: 200px;
	
	.navbar {
		background-color: $FondoUno;
		padding: 0 90px;

		img {
			vertical-align: middle;
			margin-bottom:10px;
			margin-right:10px;
		    }

		.navbar2 {   
			padding: 0;
    		margin: 5px 0px 15px 100px;
    		width: 50px;
		}

		a {
			color: white;
			padding: 0 5px;
		}
		

		
	}	
}

.conteiner {
	margin-left: 0;
	margin-right: 0;
	line-height: 2.2;


	.kiosko {
		background-color: $FondoUno;

		.row {
			background-color: $FondoUno;
			margin-right: -51px;
			padding: 80px;

			
			h4, 
			p {
				color: white;
			}

			p {
				font-size: 18px;
			}

			#btn {
			
				background-color: $FondoUno;
				height: 40px;
			}
			
			.btn {
				background-color: white;
				color: $FondoUno;

			}

			.google {
				border-radius: 75%;
				margin: -16px 10px 0px 10px;
			}
			
			.img-fluid {
				@include photosUno;
			

			}
		}
	
	}

	.features {

		.row {
			padding: 70px;
			color: $FondoUno;

			p {
				font-size: 16px;
			}

			.list-group-item {

				color: rgb(119, 119, 119);
				border: none;
				padding: 0;

				a {
					color: #7CB342;
				}
			}	
			
			.img-md-fluid {
				@include photosUno;
			}
			
			

		}
		
	}

	.customise {

		.row {
			padding: 70px;
			color: #7CB342;
	
			.list-group-item {

				border: none;
				color: rgb(119, 119, 119);

				a {
					color: #7CB342;
				}
			}

			p {
				font-size: 20px;
				
			}

			.btn {
				color: #7CB342;
				margin-left: 10px;
			}

			.img-fluid {
				@include photosUno;
			}
			
		}
		
	}

    .advanced {

    	.row {
			padding: 70px;
			color: #7CB342;
	

			p {
				font-size: 20px;
			}


			.list-group-item {
				border: none;
				color: rgb(119, 119, 119);
				padding: 0;

				a {
					color: #7CB342;
				}
			}

			.img-fluid {
				@include photosUno;
			}

		}
	
    }

    .manage {

    	

    	.row {
			background-color: rgb(236, 236, 236);
			color: #7CB342;
			margin-right: -51px;
			padding: 70px;

			p {
				font-size: 16px;
			}


			.border-left {
				margin: 20px 0;
    			padding-left: 1.5rem;
    			border-left: 5px solid #689f38;
			}

	
			#btn-link {
				color: white;
    			background-color: green;
			}

			.img-fluid {
				@include photosUno;
			}
		}
    }

    .get {
    	

    	.row {
			background-color: #7CB342;
			color: #D8EAF9;
			margin-right: -51px;
			padding: 70px;
			
			p {
				font-size: 16px;
				
			}

			.btn {
				color: white;
			}

			.img-fluid {
				@include photosUno;
				
			}
			
		}

    }

    .screenshots {
    	
    	background-color: rgb(236, 236, 236);
    	
    	.row {
    		padding-left: 30px;
    		background-color: rgb(236, 236, 236);
    		
    		h3 {
    			padding-top:30px;
    			color: rgb(104, 159, 56); 
    		}
		

			.img1 {
				@include photosDos;
			
			}
	
			.img2 {
				@include photosDos;

			}
		
    		.btn {
    			background-color: white;
    			color: #689f38;
    			margin: $marginImgSm;
    			padding: 2px 30px;
    			margin-left: 150px;
    			margin-bottom: 30px;
    		}

        }
    }

    .clients {

		
		.row {

			padding: 20px;

    		h3 {
    		padding-top: 30px;
    		padding-left: 40px;	
    		color: rgb(104, 159, 56); 
    		}

    		p {
    		color: #9e9e9e;
    		}
    		
    		.marcas {
    		width: 150px;
    		margin: $marginImgSm;
    		height: 45px;		
			}

		
			.imgCli {
				width: 65px;
    			height: 65px;
    			border: 0;
			} 
			
			.imgCli2 {
				width: 65px;
    			height: 55px;
    			border: 0;
			} 

			#pc1 {
			color: #9e9e9e;
			font-size: 16px;
			line-height: 1.2;
			margin-left: 50px;
		
			}
			
			#pc2 {
			width: auto;
    		line-height: 1.2;
    		margin-left: 40px;
    		
			}
		
			#pc3 {
		
			line-height: 1.2;
			margin-left: 40px;

			}	
    	}
    }

}

footer {
	
	background-color: #7CB342;
	margin-right: -51px;
	padding: 40px;
	
	.touch {
		
		color: white;

		.btn {
			background-color: white; 
			color: #7CB342;
		}

		input,
		textarea {
			background-color: #7CB342;
			border: none;
		}
		
		.form-group {

			min-width:450px;
		}


		.send {
		 	
		 	color: #7CB342;
		 }

		.list-group,
		.btnf {
			
			

		}

		   

		.list-group-item,
		.btngoo {
			border: none;
			background-color: #7CB342;
			width: 400px;
    		text-align: end;
   			line-height: 1.2;
		}

	}

	.btnchat {
		border-radius: 50%;
    	width: 80px;
    	height: 80px;
    	margin-left: 1200px;
    	border: 2px solid white;
	}

	#pop {
		width: 	75px;
		height: 75px;
		margin: 0 10px 10px 950px;
		background-color: green;
		
		
	}
}

#card-footer {
	background-color: #689F38;
	margin-right: -51px;

	.p1 {
		padding-left: 80px;
	}
	
	.p2 {
		text-align: end;
    	margin-right: 70px;
	}
}

